.square {
  width: 80px;
  height: 80px;
  font-size: 32px;
  font-weight: bold;
  cursor: pointer;
  border: 2px solid #333;
  background-color: white;
}

.square:hover {
  background-color: #f2f2f2;
}
